<!-- page for search field autocomplete generation -->

<h3>Well, hello there...</h3>
<br />
<br />

<% @airport_data.each do |x| %>
	<% if x.country == "United States" %>
		option value="<%= x.code %>"><%= x.code %> - <%= x.city %> 
		<br />
	<% end %>
<% end %>