<!-- page for search field autocomplete generation -->

<h3>Well, hello there...</h3>
<br />
<br />

<% recipient_email = "rossrobertmckee@gmail.com" %>
<% itinerary_body = "Generate loaded!" %>
<% x = ItineraryMailer.itinerary("#{recipient_email}", "#{itinerary_body}") %>
<% x.deliver %>

<% @airport_data.each do |x| %>
	<% if x.country == "United States" %>
		option value="<%= x.code %>"><%= x.code %> - <%= x.city %> 
		<br />
	<% end %>
<% end %>