  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.date.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.time.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.date.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.time.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/legacy.js"></script>

  <script>
      $(function () {
        $('#origin').autocomplete({
          appendTo : "searchModal",
        }); 
      });
  </script>

<script>
$(document).ready(function() {
    $('#departureDate').pickadate({
        format: 'mm/dd/yyyy',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true
    });

    $('#departureDate')
        .pickadate('picker')
        .on('render', function() {
            // http://amsul.ca/pickadate.js/api.htm#events-callbacks
            // Revalidate the date of birth field
            $('#pickDateForm').formValidation('revalidateField', 'departureDate');
        });
});
</script>  

<script>
$(document).ready(function() {
    $('#latestDate').pickadate({
        format: 'mm/dd/yyyy',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true
    });

    $('#latestDate')
        .pickadate('picker')
        .on('render', function() {
            // http://amsul.ca/pickadate.js/api.htm#events-callbacks
            // Revalidate the date of birth field
            $('#pickDateForm').formValidation('revalidateField', 'latestDate');
        });
});
</script> 







  <script>
$(document).ready(function() {
    $('#signinForm').formValidation({
        framework: 'bootstrap',
        live: 'disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            "search[origin]": {
                validators: {
                    notEmpty: {
                        message: 'The origin is required'
                    },
                    stringLength: {
                        min: 3,
                        max: 30,
                        message: 'The origin must be more than 3 and less than 30 characters long'
                    },
                }
            },
            "search[maxfare]": {
                validators: {
                    notEmpty: {
                        message: 'Please enter your max cost.'
                    },
                    numeric: {
                        message: 'The cost must be a number'
                    }
                }
            },
            "search[earliestdeparturedate]": {
                validators: {
                    notEmpty: {
                        message: 'Earliest departure date required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not valid (YYYY-MM-DD)'
                    }
                }
            },
            "search[latestdeparturedate]": {
                validators: {
                    notEmpty: {
                        message: 'Latest departure date required'
                    },
                    date: {
                        format: 'YYYY-MM-DD',
                        message: 'The date is not valid (YYYY-MM-DD)'
                    }
                }
            }
        }
    });
});
</script>
  
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

<% if notice.present? %>
<p class="alert alert-danger"><%= notice %></p>
<% end %> 

<div class="container-full">



<!-- 
  <div class="header">
    <h2>acmeTRAVEL Engine</h2>
  </div> -->
  <div class="row">
    <div class="col-xs-12 text-center v-center">
      <h1>Let's go somewhere...</h1>
      <p class="lead">acmeTRAVEL<sup>BETA</sup>&nbsp finds your next getaway,<br />without entering a destination...</p>
          <br /><br />
<form action="/flights/search" method="POST" id="signinForm" class="form-horizontal well col-xs-8 col-xs-offset-2">
  <div class="form-group col-xs-3">
    <!-- <label for="origin">Leaving from?</label> -->
    <input type="text" class="form-control" id='origin' placeholder="Origin (TBD - Timbuktu)" name="search[origin]" data-autocomplete="airports/autocomplete_airport_city">
  </div>

  <div class="form-group col-sm-2">
    <!-- <label for="maxfare">The <u>most</u> you can spend:</label> -->
    <!-- <span class="input-group-addon">$</span> -->
    <input type="text" class="form-control" id="maxfare" placeholder="Max Price (e.g. 450)" name="search[maxfare]" required>
  </div>
  <div class='col-sm-3'>      
    <div class="form-group">
          <input type="text" class="form-control" name="search[earliestdeparturedate]" placeholder= "Earliest departure" id="departureDate" />
    </div>
  </div> 

  <div class='col-sm-3'>      
    <div class="form-group">
          <input type="text" class="form-control" name="search[latestdeparturedate]" placeholder= "Latest departure" id="latestDate" />
    </div>
  </div> 

      <br />
    <div class="form-group col-sm-3">
      <!-- <label for="length_of_stay">How long can you stay for?</label> -->
       <select class="form-control" id="length_of_stay" name="search[lengthofstay]" required>
          <option value="" selected disabled>Length?</option>
          <option value="1">Just a day</option>
          <option value="2">A couple days</option>
          <option value="3">Three Days</option>
          <option value="4">Four Days</option>
          <option value="5">Cinco Dias</option>
          <option value="6">Six Days</option>
          <option value="7">A solid week!</option>
          <option value="8">Eight Days</option>
          <option value="9">Nine Days</option>
          <option value="10">Ten Days</option>
          <option value="11">Eleven Days</option>
          <option value="12">Twelve Days</option>
          <option value="13">Thirteen Days</option>
          <option value="14">Two Weeks!</option>
          <option value="15">Fifteen Days</option>
          <option value="16">Sixteen Days</option>
        </select>
    </div>
    <div class="form-group col-sm-3">
      <!-- <label for="length_of_stay">What are you looking for?</label> -->
       <select class="form-control" id="length_of_stay" name="search[theme]" required>
          <option value="" selected disabled>Where to?!?</option>
          <option value="beach">Sand, waves, and sunshine.</option>
          <option value="skiing">Somewhere with skiing</option>
          <option value="caribbean">Somewhere tropical</option>
          <option value="outdoors">The great outdoors</option>
          <option value="gambling">Casinos, bars, and clubs</option>
          <option value="romantic">Somewhere romantic</option>
          <option value="shopping">Somewhere to shop</option>
          <option value="theme-park">A major theme park</option>
        </select>
    </div>
    <div class="form-group col-sm-3">
      <div class="checkbox">
      <label><input type="checkbox" name="temperature_limit" value="bring_the_heat">At least 72&deg;?</label>
      </div>
    </div>
    <div class="btn-search">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>




    </div>
  </div>  
</div> <!-- /row -->
  
    <br><br>

</div> <!-- /container full -->

<div class="container">
  
    <hr>
  
    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>
  
  <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
</div>


  <!-- script references -->

    <!-- script src="js/bootstrap.min.js">/script> -->
    <!-- Moments.js minified CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <!-- Bootstrap datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
