  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.date.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.time.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.date.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/picker.time.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/legacy.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.jquery.js"></script>
  <script src="https://raw.githubusercontent.com/danielfarrell/bootstrap-combobox/master/js/bootstrap-combobox.js"></script>

<!--  Deactivated to prevent searching for incorrect airport code.  Do not reomve!
  <script>
      $(function () {
        $('#origin').autocomplete({
          appendTo : "searchModal",
        }); 
      });
  </script> --> 

<!-- In place for autocomplete.  Remove after Autocomple refactor! -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox();
  });
</script>

<script>
$(document).ready(function() {
    $('#departureDate').pickadate({
        format: 'mm/dd/yyyy',
        formatSubmit: 'yyyy-mm-dd',
        min: true,
        max: 89,
        hiddenName: true,

    });

    $('#departureDate')
        .pickadate('picker')
        .on('render', function() {
            $('#pickDateForm').formValidation('revalidateField', 'departureDate');
        });
});
</script>  

<script>
$(document).ready(function() {
    $('#latestDate').pickadate({
        format: 'mm/dd/yyyy',
        formatSubmit: 'yyyy-mm-dd',
        min: true,
        max: 89,
        hiddenName: true,
    });

    $('#latestDate')
        .pickadate('picker')
        .on('render', function() {
            $('#pickDateForm').formValidation('revalidateField', 'latestDate');
        });
});
</script> 

<script>
$(document).ready(function() {
    $('#signinForm').formValidation({
        framework: 'bootstrap',
        live: 'enabled',
        icon: {
            // valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            "search[maxfare]": {
                validators: {
                    notEmpty: {
                        message: 'Please enter your max cost.'
                    },
                    numeric: {
                        message: 'The cost must be a number'
                    },
                    greaterThan: {
                        value: 50
                    }
                }
            },
            "search[earliestdeparturedate]": {
                validators: {
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not valid (YYYY-MM-DD)'
                    }
                }
            },
            "search[latestdeparturedate]": {
                validators: {
                    date: {
                        format: 'YYYY-MM-DD',
                        message: 'The date is not valid (YYYY-MM-DD)'
                    }
                }
            },
            "search[lengthofstay]": {
                validators: {
                    notEmpty: {
                      message: 'Please input desired length of trip'
                    },
                    greaterThan: {
                        value: 0
                    },
                    lessThan: {
                        value: 17
                    }
                }
            }
        }
    });
});
</script>



<div class="container-full">
    <div class="col-xs-12 text-center v-center">
      <h1>Let's go somewhere...</h1>
      <p class="lead">TripRender<sup>BETA</sup>&nbsp searches <em>thousands</em> of destinations<br />to find your next vacation...</p>
        <br /><br />
    </div>
        <form action="/flights/search" method="POST" id="signinForm" class="form-horizontal col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
          <div class="form-group">
          <div id="fare_length" class="text-center">
            Where you leving from?<a href="#"><img src="assets/images/help.png" /></a>
          </div>
            <!-- Deactivated to prevent searching for incorrect airport code.  Do not reomve! Restore after refactor.
              <input type="text" class="form-control" id='origin' placeholder="Origin Code (LAX)" name="search[origin]" data-autocomplete="airports/autocomplete_airport_city"> -->
              <select class="form-control combobox" id="origin" name="search[origin]" required>
                  <option></option>
                  <option value="ATL">ATL - Atlanta</option>
                  <option value="BNA">BNA - Nashville</option>
                  <option value="BWI">BWI - Baltimore</option>
                  <option value="ANC">ANC - Anchorage</option>
                  <option value="BOS">BOS - Boston</option>
                  <option value="CLE">CLE - Cleveland</option>
                  <option value="CLT">CLT - Charlotte</option>
                  <option value="CVG">CVG - Hebron</option>
                  <option value="DCA">DCA - Arlington</option>
                  <option value="DEN">DEN - Denver</option>
                  <option value="DFW">DFW - Dallas/Fort Worth</option>
                  <option value="DTW">DTW - Detroit</option>
                  <option value="EWR">EWR - Newark</option>
                  <option value="FLL">FLL - Fort Lauderdale</option>
                  <option value="IAD">IAD - Washington</option>
                  <option value="IAH">IAH - Houston</option>
                  <option value="ILN">ILN - Wilmington</option>
                  <option value="LAS">LAS - Las Vegas</option>
                  <option value="LAX">LAX - Los Angeles</option>
                  <option value="MCO">MCO - Orlando</option>
                  <option value="MCI">MCI - Kansas City</option>
                  <option value="MDW">MDW - Chicago</option>
                  <option value="MEM">MEM - Memphis</option>
                  <option value="MIA">MIA - Miami</option>
                  <option value="MKE">MKE - Milwaukee</option>
                  <option value="MSP">MSP - St. Paul</option>
                  <option value="ORD">ORD - Chicago</option>
                  <option value="PDX">PDX - Portland</option>
                  <option value="PHL">PHL - Philadelphia</option>
                  <option value="PHX">PHX - Phoenix</option>
                  <option value="SAN">SAN - San Diego</option>
                  <option value="SFO">SFO - San Francisco</option>
                  <option value="SEA">SEA - Seattle</option>
                  <option value="SJU">SJU - Carolina</option>
                  <option value="SLC">SLC - Salt Lake City</option>
                  <option value="STL">STL - St. Louis</option>
                  <option value="TOL">TOL - Swanton</option>
                  <option value="TPA">TPA - Tampa</option>
                  <option value="JFK">JFK - New York</option>
                  <option value="LGA">LGA - New York</option>
              </select>
          </div>
          <div id="fare_length" class="text-center">
            What type of trip are you looking for?  Pick what sounds best.<a href="#"><img src="assets/images/help.png" /></a>
          </div>
          <div class="form-group">
             <select class="form-control" id="length_of_stay" name="search[theme]" required>
                <option value="" selected disabled>Destination types:</option>
                <option value="beach">Sand, waves, and sunshine.</option>
                <option value="skiing">Somewhere with skiing</option>
                <option value="caribbean">Somewhere tropical</option>
                <option value="outdoors">The great outdoors</option>
                <option value="gambling">Casinos, bars, and clubs</option>
                <option value="romantic">Somewhere romantic</option>
                <option value="shopping">Somewhere to shop</option>
                <option value="theme-park">A major theme park</option>
              </select>
          </div>
          <div id="fare_length" class="text-center">
            Enter the most you can spend, and how many days you wish to travel.<a href="#"><img src="assets/images/help.png" /></a>
          </div>
          <div class="form-group">
            <div class="col-xs-6">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="maxfare" name="search[maxfare]" required>
                <div class="input-group-addon">.00</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="input-group">
                <input type="text" class="form-control" id="length_of_stay" name="search[lengthofstay]" placeholder="Trip Length" required>
              </div>
            </div>
          </div>
          <br />
          <div id="dates" class="text-center">
            Pick an earliest and latest dearture date. <a href="#"><img src="assets/images/help.png" /></a>
          </div>
          <div class="form-group">
            <div class="col-xs-6">
              <input type="text" class="form-control" name="search[earliestdeparturedate]" placeholder= "Earliest departure" id="departureDate" />
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" name="search[latestdeparturedate]" placeholder= "Latest departure" id="latestDate" />
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" name="temperature_limit" value="bring_the_heat">At least 72&deg;?</label>
            </div>
          </div>
          <div class="btn-search">
            <button type="submit" class="btn btn-success btn-lg">Search</button>
          </div>
              <% flash.each do |key, value| %>
                <br /><br />
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
        </form>

</div>





  <!-- script references -->

    <!-- script src="js/bootstrap.min.js">/script> -->
    <!-- Moments.js minified CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <!-- Bootstrap datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
