<div class="bookingbox">
	<% @air_itineraries.each do |entire_trip_data| %>
		<% entire_trip_data.each do |data_split| %>
			<% data_split["AirItinerary"]["OriginDestinationOptions"].each do |k, legs| %>

				<p><h1>Flight Segments</h1></p>

				<% legs.each do |leg| %>
					<%= leg["FlightSegment"] %>
					<% end %>
				<%= data_split["AirItineraryPricingInfo"]["PTC_FareBreakdowns"]["PTC_FareBreakdown"]["PassengerFare"]["TotalFare"]["Amount"] %>
				
			<% end %>
		<% end %>
	<% end %>
</div>
