// Place all the styles related to the Booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.header-section {
    padding: 70px 0;
    color: #f8f8f8;
    background-image: url(coastbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.master-booking-container {
		padding-top: 50px;
	  background-image: url('coast.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}