ul.ui-autocomplete {
    z-index: 1100;
}

.home_search_field {
  background:rgba(255,255,255, 0.2);
  color: white;
}

.bton {
    position: absolute;
    bottom: 10px;
    right:10px;
}

.modal-dialog {
    color:black;
}

.shadowbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
  margin:5px;
  color:black;

}

.bookingbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:5px;
  margin:5px;
  background-color:#D3D3D3;
  color:black;
}
html,body {
  height:100%;
}

h1 {
  font-family: helvetica,sans-serif;
  font-size:80px;
  color:white;
}

.lead {
    color:red;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
    background-image:url("bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}


.container-results {
  padding:10px;
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background:rgb(119,175,219);
  color:#eee;
  overflow:hidden;
  }

.header {

}