
* {
  border-radius: 0 !important;
}

ul.ui-autocomplete {
    z-index: 1100;
    font-size:75%;
}

.home_search_field {
  background:rgba(255,255,255, 0.2);
  color: white;
}

.bookingbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff,0.5;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding-top:5px;
  margin:5px;
  background-color:rgba(241,241,241,0.5);
  color:black;
}
html,body {
  height:100%;
}

h1 {
  font-family: helvetica,sans-serif;
  font-size:70px;
  color:white;
}

.lead {
    color:red;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
    background-image:url("bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  overflow:hidden;
}

.v-center {
  margin-top:7%;
}


.container-results {
  padding:10px;
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background:rgb(119,175,219);
  color:#eee;
  overflow:hidden;
  }
